
//Colors
$color-primary: #f216cf;
$color-primary-light: #f6abf1;
$color-primary-dark: #b000a4;

$color-secondary-light: #c306fb;
$color-secondary-dark: #6105f6;

$color-tertiary-light: #66bde8;
$color-tertiary-dark: #2659f4;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-grey-dark-2: #333;

$color-white: #ffffff;
$color-black: #000;

//Grid
$grid-width: 114rem;
$grid-width-medium: 70rem;
$grid-width-tab-land: 90rem;
$grid-width-small: 40rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;
